.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
  }
.background{background-image: url(https://random.imagecdn.app/2560/1440) ;
}  